.container {
  width: 100%;
  min-height: 80vh;
}

.wrapper {
  padding: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: center; */
}

.heading {
  justify-self: center;
  grid-column: 1 / -1;
  margin-bottom: 3rem;
}

.products {
  /* max-width: 600px; */
  justify-content: center;
  justify-self: left;
  overflow-y: scroll;
  max-height: 40rem;
}

.orders {
  justify-self: right;
  max-width: 600px;
  max-height: 40rem;
  overflow-y: scroll;
}
