@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-main: #fe6e28;
  /* --color-main: #f83e4b; */
  --color-black: #000;
  --color-orange: #ff851b;
  --color-white-1: #fbfbfb;
  --color-grey-dark: #282828;
  --color-grey-light: #d6d6d6;
  --color-grey-light-2: #7a7a7a;

  /* FONTS */
  --font-size-tiny: 1rem;
  --font-size-xs: 1.2rem;
  --font-size-small: 1.4rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-xl: 2rem;
  --font-size-giant: 3rem;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #bdbdbd #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.error {
  width: 100%;
  height: 50vh;
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
}

@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 8px;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 9px;
  }
}
