@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  /* --color-main: #fe6e28; */
  --color-main: #f83e4b;
  --color-black: #000;
  --color-white-1: #fbfbfb;
  --color-grey-dark: #444;
  --color-grey-light: #aaa;

  /* FONTS */
  --font-size-tiny: 10px;
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-xl: 20px;
  --font-size-giant: 30px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
