.container {
  /* width: 100vw; */
  height: 10rem;
  background: rgb(254, 110, 40);
  background: radial-gradient(
    circle,
    rgba(254, 110, 40, 1) 35%,
    rgba(254, 129, 40, 1) 100%
  );
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white-1);
  font-size: var(--font-size-large);
  text-transform: capitalize;
  box-shadow: rgba(149, 157, 165, 0.2) 0 1rem 2.4rem;
}

.item {
  flex: 1;
}

.item:nth-child(1) {
  display: flex;
}

.item:nth-child(2) {
  flex: 2;
}

.item:last-child {
  display: flex;
  justify-content: flex-end;
  /* background-color: bisque; */
}

.callButton {
  width: 5rem;
  height: 5rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-white-1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text:first-child {
  font-weight: 400;
  font-size: var(--font-size-medium);
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
}

.listItem {
  padding: 8px 10px;
  border-bottom: 3px solid transparent;
}

.listItem:hover {
  border-color: white;
  transform: translateY(-3px);
}

.cart {
  position: relative;
  cursor: pointer;
}

.toggleMenu {
  width: 40px;
  background-color: aquamarine;
  margin-left: 20px;
}

.toggleMenu span::before,
.toggleMenu span::after,
.toggleMenu span {
  width: 100%;
  display: inline-block;
  background-color: var(--color-main);
  border: 2px solid var(--color-main);
  border-radius: 3px;
}

.toggleMenu span {
  position: relative;
}

.toggleMenu span::before,
.toggleMenu span::after {
  position: absolute;
  content: "";
}

.toggleMenu span::before {
  top: -15px;
  left: 0;
}

.toggleMenu span::after {
  top: 15px;
  left: 0;
}

.counter {
  font-size: var(--font-size-medium);
  width: 20px;
  height: 20px;
  background-color: var(--color-white-1);
  border-radius: 50%;
  color: var(--color-main);
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  position: absolute;
  top: -8px;
  right: -8px;
}

@media screen and (max-width: 480px) {
  .item:first-child {
    flex: 3;
  }

  .item:nth-child(2) {
    display: none;
  }

  .item:last-child {
    flex: 1;
  }

  .text {
    font-size: var(--font-size-large);
  }

  .text:first-child {
    font-weight: 600;
    font-size: var(--font-size-xl);
  }
}

@media screen and (max-width: 768px) {
  .item:first-child {
    flex: 3;
  }

  .item:last-child {
    flex: 1;
  }

  .item:nth-child(2) {
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    color: var(--color-main);
    background-color: var(--color-white-1);
  }

  .NavImgContainer {
    display: none !important;
    background-color: blueviolet;
  }

  .NavImg {
    background-color: aquamarine;
    display: none !important;
  }

  .item:nth-child(2) .list {
    padding: 0;
    font-size: 3rem;
    text-align: center;
    flex-direction: column;
    margin-top: 8rem;
  }

  .imgLogoContainer {
    display: none;
  }

  /* 
  .text {
    font-size: var(--font-size-large);
  }

  .text:first-child {
    font-weight: 600;
    font-size: var(--font-size-xl);
  }  */
}
