.container {
  /* width: 22%; */
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container:hover {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  transform: scale(1.05);
}

.title {
  color: var(--color-main);
}

.price {
  font-size: var(--font-size-large);
  font-weight: 500;
}

.desc {
  text-align: center;
  font-size: var(--font-size-medium);
  color: var(--color-grey-dark);
}

@media screen and (max-width: 480px) {
  .desc {
    font-size: var(--font-size-large);
  }
}
