.container {
  /* width: 100vw; */
  /* min-height: calc(100vh - 100px); */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}

.title {
  text-transform: uppercase;
  font-size: var(--font-size-giant);
  margin-bottom: 1rem;
}

.desc {
  width: 80%;
  color: var(--color-grey-dark);
  font-size: var(--font-size-medium);
  line-height: 3rem;
  margin-bottom: 3rem;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 1rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 480px) {
  .desc {
    font-size: var(--font-size-large);
  }
}
